body{
    font-family: 'Poppins', sans-serif;
   
}

nav{
 display: flex;
 justify-content: space-between;
 text-align: center;

}

nav > ul{
   display: flex;
   align-items: center;
   text-align: center;
   margin-right: 100px;
}

nav li{
    list-style: none;
    margin: 0 35px;
}

nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/*nav section end*/

.influence-head{
    color: #3A3A3A;
   font-size: 1.5rem;
   font-weight: 700;
   margin-left: 120px;
}


.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    padding: 30px;
}


.banner-title{
color: #3A3A3A;
font-size: 3.25rem;
font-weight: 700;
margin-bottom: 0;
}

.banner-description{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.btn-prebook{
    border: 0;
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
}

.main-camera img{
    background-image: url("/images/Circle\ design.svg");
    width: 475px;
    height: 475px;
}

/*baner section end*/

.logos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0 450px;
    gap: 50px;
}

.items{
    margin-top: 130px;
}


.item-head{
    text-align: center;
    color: #3A3A3A;
    font-size: 1.75rem;
    font-weight: 600;
}

.item-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.card{
    
    width: 100%;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.item-title{
    color:  #18191F;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0 25px;
}


.price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem ;
    font-weight: 400;
    margin: 5px 25px;
}

.items-details{
    color:#787885;
    font-size: 0.87rem;
    font-weight: 700;
    margin: 10px 25px;
}


.card img{
    width: 90%;
    margin: 25px;
}

.item-image{
    padding: 0 10vw;
}

.see-more{
    border: 0;
    background-color: #FFF;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
}

.see-btn{
  text-align: right;
  margin-right: 200px;
  margin-top: 50px;
    
}

.gear{
    display: flex;
    justify-content: space-evenly;
    padding: 220px;
}


.features{
    padding-left: 100px;
}

.feature-head{
    color: #0A0826;
    font-size: 2.37rem;
    font-weight: 700;

}

.feature-details{
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 700;
}

.join-btn{
    border: 0;
    background-color: #E02C6D;
    color: #FFF;
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 700;
}
/* feature style end*/

.footer-style{
    background: #0A0826;
    border: 1px solid saddlebrown;
    text-align: center;
    padding: 120px;
}

.products{
    color: #FFF;
font-size: 1.5rem;
font-weight: 700;
}
.footer-detailts{
    color: #D9DBE1;
font-size: 1rem;
font-weight: 500;
}

.footer-end{
    color:  #D9DBE1;
    font-size: 1rem;
   font-weight: 500;
}


/*small device*/

@media screen and (max-width:576px) {
    nav , .banner {
        flex-direction: column;
        text-align: center;
       
    }
    
    .banner{
        margin-top: 0;
    }

    .btn-prebook{
        margin-bottom: 30px;
    }
    .influence-head{
        margin: 50px 0;
    }

    nav > ul{
        display: grid;
      
    }

    .logos{
        display: block;
        align-items: center;
        padding: 0;
        margin-left: 30px;
    }
    .item-image{
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .see-btn{
        margin-bottom: 30px;
        text-align: center;
        margin-right: 0;
    }

    .gear{
        flex-direction: column;
        padding: 0;
    }

    .features{
        padding: 0;
    }
    .join-btn{
        margin-bottom: 50px;
    }
    .footer-style{
        padding: 30px;
    }


}

@media screen and (min-width:576px) and (max-width:960px) {
    nav , .banner{
        flex-direction: column;
        text-align: center;
    }

    .influence-head{
        margin-top: 30px 0;
        text-align: center;
    }

    .btn-prebook{
        margin-bottom: 20px;
    }

    .card img{
       width: 80%;
    }

    .item-image{
        padding: 0;
    }

    .see-btn{
        text-align: center;
        padding-left: 180px;
    }

    .logos{
        gap:10px;
    }
 .gear{
    flex-direction: column;
    text-align: center;
    padding: 0;
 }
  .join-btn{
    margin-bottom: 20px;
    margin-right: 70px;
  }

  .features{
    padding: 0;
  }
    .footer-style{
        padding: 50px;
    }
  .banner{
    margin-top: 10px;

  }

 ul > li{
    padding-left: 20px;
 }
}